/* apply box sizing to all elements */
*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 40px;
}

/* apply a max width and center the form */
#hearing-form {
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 10 auto;
}

/* style the input group */
.input-group {
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
}

.input-group label {
  justify-content: center;
  align-items: center;
  display: block;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* align the input to the right */
.input-group input {
  justify-content: center;
  align-items: center;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  text-align: right;
}

.button-group {
  text-align: center;
}

.button-group button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

.button-group button:hover {
  background-color: #3e8e41;
}

@media screen and (max-width: 480px) {
  .input-group label {
    width: 60px;
  }

  .input-group input {
    width: 40px;
  }

  .button-group button {
    font-size: 14px;
  }
}

#calculate {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#calculate:hover {
  background-color: #3e8e41;
}

#results {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100px; /* adjust height as needed */
  margin-top: 50px;
  font-weight: bold;
  font-size: 18px;
}

#results p {
  text-align: center;
}

#script {
  margin-bottom: 70px;
}
